h1{
    font-family: fantasy;
}
.imagen{
    background-image: url(../../assets/acta.jpg);
    padding: 30px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: 0px -110px;
    box-shadow: 0px 0px 5px 1px  rgba(0, 0, 0, 0.5);
}