
<div class="recuadro">
    <div class="container mt-1">

        <h1>Ordenes de Compras</h1>
        <form [formGroup]="formularioCompra">
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <div class="form-group col-md-2 col-sm-4 col-lg-2" >
                    <label for="">Fecha:</label>
                    <input type="datetime" disabled class="form-control" [ngModel]="fechaActual | date: 'dd/MM/yyyy'" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-lg-10">
                    <label>Orden de compra:</label>
                    <input formControlName="orden" (input)="ordenCompra($event.target.value)" type="text" class="form-control">
                    <div *ngIf="formularioCompra.controls['orden'].invalid && formularioCompra.controls['orden'].dirty" class="alert alert-danger" role="alert">
                        <samp *ngIf="formularioCompra.controls['orden'].errors.required"> La orden es requerida!</samp>
                        </div> 
                </div>
                <div class="form-group col-lg-10">
                    <label>Proveedor:</label>
                    <select formControlName="proveedor" (change)="proveedorID($event.target.value)" name="" id=""  class="form-control">
                        <option [value]="null">seleccione un proveedor...</option>
                        <option *ngFor="let orden of ordenDeCompra" [value]="orden.Proveedor">{{orden.Proveedor}}</option>      
                    </select>
                </div>
                <div class="form-group col-lg-10">
                    <label>Observaciones:</label>
                    <textarea formControlName="observaciones"  (input)="obs($event.target.value)" class="form-control" rows="4"></textarea>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-9"></div>
                <div class="col-lg-2">
                    <button (click)="agregar()" class="btn btn-primary btn-block">Cargar</button>
                </div>
            </div>
        </form>
    </div>
</div>


