<body>
    <div  class="container mt-5">
        <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active">Nueva Acta</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="actas">Actas</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
                <div class="imagen">   
                    <h1 class='text-center'>Acta de entrega</h1>        
                </div>  
                <form [formGroup]='formularioActa'>

                    <div class="row mt-3">
                        <div class="col-sm-1 col-xs-0"></div>
                        <div class="col-md-2 col-xs-12">
                            <div class="form-group">
                                <label for="">Fecha:</label>
                                <input type="datetime" disabled class="form-control" [ngModel]="fechaActual | date: 'dd/MM/yyyy'" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                       
                
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="">Transporte:</label>
                                <select formControlName="transporte" (change)="transporteID($event.target.value)"  class="form-control">
                                    <option [value]="null">seleccione un Transporte...</option> 
                                    <option *ngFor="let transport of transporte"  value={{transport.Transporta}}>{{transport.Transporta}}</option>       
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                
                    <div class="row justify-content-center">
                       
                        <div class="form-group col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <label for="">Origen:</label>
                            <select formControlName="origen" (change)="origenID($event.target.value)" (onModelChange)="origenID($event.target.value)" class="form-control">
                                <option [value]="null">seleccione un origen...</option> 
                                <option  *ngFor="let sec of sector"  value={{sec.Detalle}}>{{sec.Detalle}}</option>      
                            </select>
                            <p style="margin-bottom: 0px;">*seleccione un origen para obtener los seriales a seleccionar</p>
                        </div>
                       
                    </div>
            
                    <div class="row justify-content-center">
                        <div class="form-group col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <label for="">Destino:</label>
                            <select formControlName="destino" (change)="destinoID($event.target.value)" class="form-control">
                                <option [value]="null">seleccione Destino...</option> 
                                <option *ngFor="let sec of sector" value={{sec.Detalle}}>{{sec.Detalle}}</option>       
                            </select>
                        </div>
                    </div>
            
                    <div class="row ">
                        <div class="col-1"></div>         
                        <div class="form-group col-md-3 col-xs-12">
                            <label for="">Contacto:  </label>
                            <input (input)="contacto($event.target.value)" type="text" class="form-control">
                        </div>
                        
                        <div class="form-group col-md-7 col-xs-12">
                            <label for="">Observaciones: </label>
                            <textarea (input)="Observaciones($event.target.value)" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                        </div> 
                               
                    </div>
                
                    <div class="row justify-content-between" >
                        <div class="col-md-1 col-sm-1 col-xs-0"></div>
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label  style="margin-bottom: 0px;">Serial: <button  (click)="showModal=true" class="btn"><i class="fas fa-search" style=" margin-left: 30; cursor: pointer;"></i></button></label>
                                <!-- <p-dropdown formControlName="serial"  [showTransitionOptions]="'0ms'"  [hideTransitionOptions]="'0ms'" [options]="equipos" [(ngModel)]="equipoSeleccionado"  filter="true"  placeholder="seleccione un serial.." optionLabel="serial" [style]="{'width':'245px'}"></p-dropdown> -->
                                <select   (change)="articuloID($event.target.value)"  class="form-control"  >
                                    <option [value]="null">seleccione ID</option>  
                                    <option *ngFor="let equipo of equipos"  [value]="equipo.serial">{{equipo.serial}}</option>            
                                </select>
                            </div>
                         </div>
                
                        <div  class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for=""></label>
                                <input  style="margin-top: 14px;" type="text" [ngModel]="nombreArticulo" [ngModelOptions]="{standalone: true}" class="form-control" disabled >
                            </div>
                        </div>
                        
                        <div class="col-sm-1 col-md-2 col-lg-1 col-xs-6 mt-2">
                            <label for=""></label>
                            <button  (click)="agregar()" style="background: transparent;" [disabled]="!articuloEnInput" class="btn1 btn-link">
                                <i style="background: transparent;" class="fas fa-plus fa-3x"></i>
                            </button>     
                        </div>
                        <div class="col-md-1 col-xs-11"></div>
                    </div>  
                
                    <div class="row" *ngFor="let item of serialElegido; let i = index">
                        <div class="col-sm-4 col-xs-0" ></div>
                
                        <div class="col-md-6 col-xs-9" >
                            <input formControlName="serial"  name="art" [ngModel]="serialElegido[i]"  class="form-control"disabled>
                        </div>
            
                        <div class="col-md-1 col-xs-3 ">
                            <label for=""></label>
                            <button (click)="eliminar(i)" class="btn2 btn-link" style="background: transparent;"><i class="fas fa-trash-alt"></i></button>     
                        </div>
                        <div class="col-sm-1 col-xs-0"></div>
                    </div>
                    
                    <div class="row mt-5">
                        
                        <div class="col align-self-start">
                            <button (click)="nuevaActa()" class="btn btn-primary">Nueva Acta</button> 
                        </div>
                
                        <div class="col align-self-center"></div>
                  
                        <div class="col-auto mr-auto col-xs-12">
                            <button (click)="confirmarMov()" [disabled]="!formularioActa.valid" class="btn btn-primary">Confirmar Movimiento</button> 
                        </div>  
                
                    </div>
                    
                </form>
            </div>
          </div>
    </div>

    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-beat" [fullScreen] = "true"><p style="color: white" > Cargando Seriales... </p></ngx-spinner>

    <div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngClass]="{'show':showModal}">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ingrese Nº de serie</h5>
              <button  (click)="showModal=false" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">X</span>
              </button>
            </div>
            <div  class="modal-body">
                <div  class="container-fluid">
                    <div class="row">   
                        <div class="col-6">
                            <input  type="text" (input)="numeroModal($event.target.value.toUpperCase())" (Keydown.enter)="buscarNumeroModal()">
                        </div>
                        <div *ngIf="!find" class="col-1">
                            <i class="fas fa-exclamation" style="font-size:24px; color:red"></i>
                        </div>
                        <div *ngIf="!find" class="col-5">
                            <p style="font-size:16px;color:red">no se encontro el serial</p>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="modal-footer">
              <button type="button" (click)="buscarNumeroModal()" class="btn btn-primary">Buscar</button>
            </div>
          </div>
        </div>
      </div>
</body>


 
