<div class="recuadro">
    <div class="container mt-5">

        <h1>Carga de usuarios</h1>
        <form [formGroup]="formUser" (submit)="agregar(formUser.value)">
            <div class="row justify-content-center form-group">
                <div class=" col-lg-9 col-md-10 col-sm-10 col-xs-12">
                    <label for="">Nombre de usuario:</label>
                    <input placeholder="Ingrese nombre y apellido..."  formControlName="nombre"   type="text" class="form-control">
                </div>
                <div class=" col-lg-9 col-md-10 col-sm-10 col-xs-12">
                    <label for="">Usuario:</label>
                    <input placeholder="Ingrese un usuario..." formControlName="usuario" type="text" class="form-control">
                </div>
                <div class=" col-lg-9 col-md-10 col-sm-10 col-xs-12">
                    <label for="">Contraseña:</label>
                    <input placeholder="Ingrese una contraseña..."  formControlName="pass" type="password" class="form-control">
                </div>
                <div class=" col-lg-9 col-md-10 col-sm-10 col-xs-12">
                    <label for="">Nivel de seguridad:</label>
                    <select  formControlName="nivel"  name="" id=""  class="form-control">
                        <option hidden value="">Selecciona una opción</option>
                        <option value="1">Administrador</option>
                        <option value="2">Secretaria</option>
                        <option value="3">Usuario</option>
                    </select>
                </div>
            </div>
            <div class="row mt-5">   
                <div class="col-9"></div>
                <div class="form-group col-md-2">
                    <button class="btn btn-primary btn-block" type="submit" [disabled]="!formUser.valid">Agregar</button>
                </div>    
            </div>
        </form>
    </div>
</div>
